<div class="card">
    <div class="card-status bg-purple"></div>
    <div class="card-header">
        <h3 class="card-title">Traveling 🚌</h3>
    </div>
    <div class="card-body d-flex flex-column">
        <p>
            HackUMass will be sending free buses to pick up hackers in NYC and Boston!
            More details will be posted closer to the event once you RSVP.
        </p>
    </div>
</div>