<p><div class="text"><%= HackumassWeb::Application::HACKATHON_NAME %> happens at the Integrative Learning Center (ILC) at the University of Massachusetts Amherst.</div></p>
<p><div class="text">If you're driving, information on which lots to park in will be posted on Slack closer to the event. Check out our venue on Google Maps beforehand so you don't get lost navigating through the UMass campus!</div></p>
<div class="text">If you have any questions, reach out to us at <%= HackumassWeb::Application::CONTACT_EMAIL %> or ask on Slack!</div>
<br>
<a href="https://goo.gl/maps/851VYrC6oLJ2" target="_blank" class="btn btn-secondary">View on Google Maps</a>