a.header-brand {
    position: absolute;
    top: 0.25rem
}

img.header-brand-img {
    height: 3.5rem;
    line-height: 3.5rem;
    vertical-align: bottom;
    margin-right: .5rem;
    width: auto;
}
