I agree to the <a href="http://hackumass.com/legal/HUMVPhotoRelease.pdf">
Photo Release</a> as imposed by the University of Massachusetts
and the <a href="http://hackumass.com/legal/HUMVLiabilityWaiver.pdf">
HackUMass Liability Waiver</a>.